/*OSNOVA*/
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    max-width: 1338px;
    width: 100%;
    margin: 0 auto;
}

:root {
    --dark-color: #263238;
    --grey-color: #8F95A5;
    --white-color: #ffff;
}

/*--------------------------------OSNOVA*/
/*-------------------------------TEXT SAMPLE*/
.text-h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 64px;
    margin: 0;
}

.text-h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 36px;
    margin: 0;
}

.text-h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin: 0;
}

.text-p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    margin: 0;
    color: var(--grey-color);
}

/* ---------------header */

.header-flex {
    padding-top: 30px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-flex-logo {
    cursor: pointer;
}

.header-flex-logo span {
    color: var(--grey-color);
}

.header-flex-nav ul li {
    display: inline;
    margin-right: 25px;
    font-size: 20px;
}

.header-flex-nav ul li:hover {
    color: var(--grey-color);
}

.btn {
    width: 220px;
    height: 70px;
    background: var(--white-color);
    color: black;
    border-radius: 5px;
    border: 2px solid #263238;
    font-size: 18px;
    cursor: pointer;
}

.btn:hover {
    background: #d4d7df;
}

/* ----------------------get started */

.get-started-flex {
    display: flex;
    justify-content: space-between;
}

.gs-left {}

.gs-h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
}

.gs-h2::after {
    content: '';
    padding-right: 70px;
    padding-top: 63px;
    margin-left: 50px;
    background-image: url(../img/bulb.png);
    background-repeat: no-repeat;
}

.gs-p {
    font-size: 20px;
    line-height: 30px;
    width: 500px;
    margin: 40px 0 60px;
}

.skills-button {
    width: 218px;
    height: 60px;
    background: var(--dark-color);
    color: #ffff;
    border-radius: 5px;
    border: none;
}

.skills-button:hover {
    background-color: #58676e;
}

.gs-right img {
    max-width: 100%;
}

/* ------------skills */
.skills {
    padding-top: 103px;
}

.skills-h2 {
    text-align: center;
    margin-bottom: 96px;
}

.skills-button {
    cursor: pointer;
    border: none;
}

.item-1 .skills-button:hover,
.item-2 .skills-button:hover,
.item-3 .skills-button:hover,
.item-4 .skills-button:hover {
    background-color: #58676e;
}

.skills-grid {
    display: grid;
    gap: 30px;
    grid-template-areas:
        "one two three"
        "one four four";
    justify-content: space-evenly;
    align-items: stretch;
}

.speaking {
    grid-area: one;
}

.writing {
    grid-area: two;
}

.reading {
    grid-area: three;
}

.listening {
    grid-area: four;
    flex-direction: row !important;
}

.listening .skills-grid-image {
    order: 1;
}

.skills-grid-item {
    background: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    padding: 15px;
}

.skills-grid-item .skills-h3 {
    font-weight: 600;
    font-size: 30px;
}

.skills-grid-item .skills-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-top: 20px;
}

.skills-grid-item .skills-button {
    margin-top: 20px;
}

.speaking .skills-p:last-child {
    padding-bottom: 80px;
}

/* .skills-grid-image img {
    width: 100%;
} */

/* ----------------about */
.about {
    padding: 82px;
}

.about-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-h2 {
    margin-bottom: 23px;
}

.about-p {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 50px;
}

.grid-columns {
    display: flex;
    margin: 0 auto;
}

.grid-item {
    width: 225px;
    margin-right: 20px;
}

/* 
.item-p:last-child {
    width: 225px;
    padding-left: 15px;

} */
/* ------------------pricing */
.pricing {
    padding-top: 220px;
}

.pricing-h2 {
    text-align: center;
    margin-bottom: 80px;
}

.pricing-h3 {
    font-weight: 600;
    font-size: 30px;
    line-height: 48px;
    color: var(--dark-color);
}

.pricing-flex {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.pricing-flex-item {
    margin: 0 auto;
    margin-right: 40px;
}

.pricing-flex-item:last-child {
    margin-right: 0;
}

.pricing-p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin: 30px 0;
    width: 410px;
}

.price-block {
    width: 240px;
    height: 45px;
    background: #EEEEEE;
    border-radius: 5px;
    align-self: center;
    cursor: pointer;
}

.price-block:hover {
    background: #dad1d1ee;
}

.last-2 {
    margin-top: 60px;
}

.price-h3 {
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    color: var(--dark-color);
    padding: 0 18px 0 18px;
}

.price-h3 span {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #546269;
}

/* -------------contact */
.contact {
    padding-top: 200px;
}

.contact-flex {
    display: flex;
    justify-content: space-between;
}

.contact-left {
    margin-right: 110px;
}

.contact-left img {
    width: 477px;
    height: 429px;
}

.contact-h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 80px;
}

.contact-p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin: 37px 0 52px 0;
}


.email {
    width: 400px;
    height: 80px;
    border: 1px solid #8F95A5;
    border-radius: 10px;
    margin-right: 5px;
}

.email::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8F95A5;
    padding: 30px;

}

.skills-button {
    width: 264px;
    height: 80px;
}

/* ----------footer */
.footer {
    padding-top: 133px;
    padding-bottom: 30px;
}

.footer-line {
    max-width: 1338px;
    height: 1px;
    margin-bottom: 30px;
    background: #C4C4C4;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ------------------media */
@media screen and (max-width:1280px) {
    .skills-grid {
        grid-template-areas:
            "one two"
            "three four";
    }

    .listening {
        display: block;
    }
}

@media screen and (max-width:1024px) {
    .skills-grid {
        grid-template-areas:
            "one"
            "two"
            "three"
            "four";
    }

    .listening {
        display: block;
    }

    .get-started-flex {
        flex-direction: column;
    }

    .about-flex {
        flex-direction: column;
    }

    .pricing-flex {
        flex-direction: column;
    }

    .pricing-flex-item:last-child {
        margin-right: 130px;
    }

    .contact-flex {
        flex-direction: column;
    }
}

@media screen and (max-width:992px) {

    .header,
    .get-started,
    .about,
    .pricing,
    .contact,
    .footer {
        margin: 0 20px;
    }

}